<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create drive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container w-50">
    <form th:method="post" th:action="@{/drives/create}" th:object="${drive}">
        <h1>Create drive</h1>
        <div class="form-group">
            <label for="hours">hours: </label>
            <input class="form-control" id="hours" th:field="*{hours}" type="number" min="1" required/>
        </div>
        <div class="form-group">
            <label for="userId">User id: </label>
            <select class="form-control" id="userId" th:name="userId" required>
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.id} + ' ' + ${user.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="bikeId">Bike id: </label>
            <select class="form-control" id="bikeId" th:name="bikeId" required>
                <option th:each="bike : ${bikes}" th:value="${bike.id}" th:text="${bike.id} + ' ' + ${bike.bikeName}">
                </option>
            </select>
        </div>
        <br>
        <input type="submit" value="Create" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>
