<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bikes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/bikes}">Show bikes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/drives}">Show drives</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">Show users</a>
        </li>
    </ul>
    <table class="table table-striped table-dark table-hover">
        <caption style="caption-side: top">Bikes</caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Bike name</th>
            <th>Price</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bike : ${bikes}">
            <td th:text="${bike.id}">
            </td>
            <td th:text="${bike.bikeName}">
            </td>
            <td th:text="${bike.price}">
            </td>
            <td>
                <form th:action="@{/bikes/{id}/update(id=${bike.id})}">
                    <input type="submit" class="btn btn-primary" value="Update">
                </form>
            </td>
            <td>
                <form th:action="@{/bikes/{id}/delete(id=${bike.id})}" th:method="delete">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
            <td>
                <form th:action="@{/bikes/{id}/drives(id=${bike.id})}">
                    <input type="submit" class="btn btn-info" value="Show bike">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    </br>
    <form th:action="@{/bikes/create}" th:method="get">
        <input type="submit" class="btn btn-primary" value="Create Bike">
    </form>
    </br>
</div>
</body>
</html>